{% extends 'base.html' %}

{% block head %}
<title>Requirements Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Requirements Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table>
        <tr>
            <th>ID</th>
            <th>Requirement</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>
                <select id="project-filter">
                    <option value="">All</option>
                    {% for key in project_keys %}
                        <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for task in tasks %}
            <tr class="data-row" data-project="{{ task.content.split(',')[0].split('-')[0] }}">
                <td>{{ task.content.split(',')[0] }}</td>
                <td>{{ task.content.split(',')[1] }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <script>
        // Filter the table rows based on the selected project key
        document.getElementById('project-filter').addEventListener('change', function () {
            const selectedValue = this.value;
            const dataRows = document.getElementsByClassName('data-row');
            for (const row of dataRows) {
                if (selectedValue === '' || row.dataset.project === selectedValue) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            }
        });
    </script>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
    
    <div class="form">
        <form action="/upload" method="POST" enctype="multipart/form-data" style="display: inline-block;">
            {{ form.csrf_token }}
            {{ form.file.label }} {{ form.file() }}
            {{ form.submit() }}
        </form>
        <form action="/append_to_table" method="POST" style="display: inline-block;">
            {{ form.csrf_token }}
            <input type="submit" value="Append Requirements to Table">
        </form>
    </div>

    <div class="form">
        <form action="/clear_table" method="POST">
            {{ form.csrf_token }}
            <input type="submit" value="Clear Table">
        </form>
    </div>

    <div class="form">
    <form action="/export_table" method="POST">
        {{ form.csrf_token }}
        <input type="submit" value="Export Table to CSV">
    </form>
</div>
</div>

{% endblock %}
