{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Task</h1>

    <div class="form">
        <form action="/update/{{task.id}}" method="POST">
            {{ form.csrf_token }}
            <label for="task_id">ID:</label>
            <input type="text" name="task_id" id="task_id" value="{{ task.content.split(',')[0] }}">
            <br>
            <br>
            <label for="task_requirement">Requirement:</label>
            <br>
            <textarea name="task_requirement" id="task_requirement" rows="6">{{ task.content.split(',')[1] }}</textarea>
            <br>
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}
